.ignored {
    display: none;
}

.fraction {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.numerator {
    display: block;
}

.denominator {
    display: block;
    border-top: thin solid;
}
